.resume-container {
  margin-top: 1rem;
}
.resume-container p {
  color: #555;
  font-size: 1.1rem;
  padding: 0 1rem;
  margin-bottom: 2rem;
}
.resume-container h1 {
  color: #555;
  margin: 1rem 0;
  padding-left: 1rem;
  font-size: 1.3rem;
}
.title-switch {
  padding-top: 1rem;
}
.SettingManager-container button {
  outline: 0;
}
.description-content h2 {
  color: #555;
  margin: 1rem 0;
  text-align: left;
  padding-left: 1rem;
  font-size: 1.3rem;
}
.description-content p {
  color: #555;
  font-size: 1.1rem;
  padding: 0 1rem;
  margin-bottom: 2rem;
}
.btn-outline-secondary {
  color: #6c757d;
  border-color: #6c757d;
  width: 150px;
}
.use-cases {
  text-align: center;
  margin-top: 3rem;
}
.semi-line {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.separator-line {
  margin-top: 2rem;
  width: 70%;
}
